#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <MS>; \
  };

combos {
  compatible = "zmk,combos";

  COMBO(    j, &kp     J, 10 11, base, 50)
  COMBO(    x, &kp     X, 10 12, base, 50)
  COMBO(    w, &kp     W, 10 13, base, 50)
  COMBO(minus, &kp MINUS, 10 16, base, 50)
  COMBO(equal, &kp EQUAL, 10 17, base, 50)
  COMBO( lbkt, &kp  LBKT, 10 18, base, 50)
  COMBO( rbkt, &kp  RBKT, 10 19, base, 50)

  COMBO(    m, &kp     M, 11 12, base, 50)
  COMBO(    c, &kp     C, 11 13, base, 50)
  COMBO(    v, &kp     V, 11 16, base, 50)
  COMBO(    k, &kp     K, 11 17, base, 50)
  COMBO(    z, &kp     Z, 11 18, base, 50)
  COMBO( semi, &kp  SEMI, 11 19, base, 50)

  COMBO(    d, &kp     D, 12 13, base, 50)
  COMBO(    b, &kp     B, 12 16, base, 50)
  COMBO(    g, &kp     G, 12 17, base, 50)
  COMBO(    q, &kp     Q, 12 18, base, 50)
  COMBO(  dqt, &kp   DQT, 12 19, base, 50)

  COMBO(    f, &kp     F, 13 16, base, 50)
  COMBO(    p, &kp     P, 13 17, base, 50)
  COMBO(    y, &kp     Y, 13 18, base, 50)
  COMBO(  sqt, &kp   SQT, 13 19, base, 50)

  COMBO(    r, &kp     R, 16 17, base, 50)
  COMBO(    l, &kp     L, 16 18, base, 50)
  COMBO(comma, &kp COMMA, 16 19, base, 50)

  COMBO(    u, &kp     U, 17 18, base, 50)
  COMBO(  dot, &kp   DOT, 17 19, base, 50)

  COMBO( fslh, &kp  FSLH, 18 19, base, 50)
};
