#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
    timeout-ms = <MS>; \
  };

combos {
  compatible = "zmk,combos";

/*
Esc                          Bsp
w   c   g   d      l   u   o   y
Tab         ,      .   ;   ' Ret
r   s   t   h      n   e   a   i
    v   p   b      x   z   q
            Spc Shft
*/

// Mods
  COMBO( lgui, &sk  LGUI, 10 27, base, 50)
  COMBO( lalt, &sk  LALT, 11 27, base, 50)
  COMBO( lctl, &sk  LCTL, 12 27, base, 50)
  COMBO(lshft, &sk LSHFT, 13 27, base, 50)
  COMBO(rshft, &sk RSHFT, 16 27, base, 50)
  COMBO( rctl, &sk  RCTL, 17 27, base, 50)
  COMBO( ralt, &sk  RALT, 18 27, base, 50)
  COMBO( rgui, &sk  RGUI, 19 27, base, 50)

// Punct
  COMBO(comma, &kp COMMA, 13 28, base, 50)
  COMBO(  dot, &kp   DOT, 16 28, base, 50)
  COMBO( semi, &kp  SEMI, 17 28, base, 50)
  COMBO(  sqt, &kp   SQT, 18 28, base, 50)

// Other
  COMBO(  esc, &kp   ESC,  0 27, base, 50)
  COMBO(  tab, &kp   TAB, 10 27, base, 50)
  COMBO( bspc, &kp  BSPC,  9 27, base, 50)
  COMBO(  ret, &kp   RET, 19 27, base, 50)
};
